<div class="columns is-multiline pulsechecker">
  <div class="column is-9">

    <%= form_for @pulsechecker do |form| %>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Friendly name</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <%= form.text_field :name, placeholder: 'Friendly name', class: "input #{error_form_class(@pulsechecker, :name)}" %>
            </div>
            <% if has_error?(@pulsechecker, :name) %>
              <p class="help is-danger"><%= error_message(@pulsechecker, :name) %></p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Url or ip address</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <%= form.text_field :url, placeholder: 'Url or ip address', class: "input #{error_form_class(@pulsechecker, :url)}" %>
            </div>
            <% if has_error?(@pulsechecker, :url) %>
              <p class="help is-danger"><%= error_message(@pulsechecker, :url) %></p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Type</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <div class="select is-fullwidth">
                <%= form.select :kind, Pulsechecker.kinds.keys.map { |k| [k.humanize, k] } %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Interval</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <%= form.hidden_field :interval, id: 'interval-field' %>
              <span id="slider-label" class="label"></span>
              <div id="slider"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal form-submit">
        <div class="field-label">
          <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <%= form.submit @pulsechecker.new_record? ? 'Create PulseChecker' : 'Update PulseChecker', class: 'button is-primary' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'src/interval_picker' %>
