<table class="table is-bordered is-striped is-narrow is-fullwidth is-hoverable">
  <thead>
  <tr>
    <th>
      <p title="Kind">Kind</p>
    </th>
    <th>
      <p title="Name">Name</p>
    </th>
    <th>
      <p title="URL">URL</p>
    </th>
    <th>
      <p title="Interval">Interval</p>
    </th>
    <th>
      <p title="Created At">Created At</p>
    </th>
    <th class="table-actions">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @pulsecheckers.each do |pulsechecker| %>
    <tr>
      <td><%= pulsechecker.kind.humanize %></td>
      <td><%= pulsechecker.name %></td>
      <td><%= pulsechecker.url %></td>
      <td><%= milliseconds_to_human_readable(pulsechecker.interval) %></td>
      <td><%= datetime_to_string(pulsechecker.created_at) %></td>
      <td>
        <div class="buttons are-small">
          <%= link_to edit_pulsechecker_path(pulsechecker), class: 'button is-primary is-outlined' do %>
            <span class="icon is-small"> <i class="fas fa-edit"></i> </span><span>Edit</span>
          <% end %>

          <%= link_to pulsechecker_path(pulsechecker),
                      method: :delete,
                      data: { confirm: 'Are you sure?' },
                      class: 'button is-danger is-outlined' do %>
            <span class="icon is-small"> <i class="fas fa-trash"></i> </span><span>Delete</span>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
