<div class="columns is-multiline">
  <div class="column is-9">
    <h2 class="title">Password</h2>
    <%= form_for(@user, url: update_password_path, html: { method: :put }) do |form| %>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Password</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <%= form.password_field :password,
                                      placeholder: '********',
                                      autocomplete: 'new-password',
                                      class: "input #{error_form_class(@user, :password)}" %>
            </div>
            <% if has_error?(@user, :password) %>
              <p class="help is-danger"><%= error_message(@user, :password) %></p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Password confirmation</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <%= form.password_field :password_confirmation,
                                      placeholder: '********',
                                      autocomplete: 'new-password',
                                      class: "input #{error_form_class(@user, :password_confirmation)}" %>
            </div>
            <% if has_error?(@user, :password_confirmation) %>
              <p class="help is-danger"><%= error_message(@user, :password_confirmation) %></p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Current password</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <%= form.password_field :current_password,
                                      placeholder: '********',
                                      autocomplete: 'current-password',
                                      class: "input #{error_form_class(@user, :current_password)}" %>
            </div>
            <% if has_error?(@user, :current_password) %>
              <p class="help is-danger"><%= error_message(@user, :current_password) %></p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="field is-horizontal form-submit">
        <div class="field-label">
          <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <%= form.submit 'Update password', class: 'button is-primary' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
