<!DOCTYPE html>
<html>
  <head>
    <title>PulseChecker Dashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'pulse-checker-app' %>
  </head>

  <body>
  <div class="wrapper <%= controller_name %>">
    <%= render 'layouts/header' %>
    <%= render 'layouts/sidebar' %>
    <main class='main' id='main'>
      <%= render 'layouts/flash' %>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </div>
  </body>
</html>
